<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>장바구니주문하기</title>
</head>

<body>
    <center>
        <form action="/border" method="POST">
            <div style="margin-top: 40px; margin-bottom: 40px; height: 800px;">
                <h1>장바구니구매하기</h1>
                <% var totalprice = 0; %>
                <% for(var i=0;i<data.length; i++) { %>
                <h3 style="margin-right: 100px;">상품 이름 : <%=data[i].pname%></h3>
                <h3 style="margin-right: 100px;">수량 : <%=data[i].bamount%></h3>
                <% totalprice += (data[i].pprice*data[i].bamount); %>
                <%}%>

          <h3 style="margin-right: 100px;" >가격<input type="text" name="oprice" size="30" maxlength="35" readonly="<%=totalprice%>" value="<%=totalprice%>"></h3>

                <h3 style="margin-right: 100px;">배송지<input type="text" name="oaddress" size="30" maxlength="35"></h3>

                

                <h3 style="margin-right: 100px;">수령인<input type="text" name="oname" size="30" maxlength="35"></h3>

                

                <h3 style="margin-right: 100px;">핸드폰<input type="text" name="otel" size="30" maxlength="35"></h3>

                

                <h3 style="margin-right: 100px;">카드번호<input type="text" name="ocard" size="30" maxlength="35"></h3>

                
                <input
                    style=" margin-top: 50px; width: 200px; height: 30px; background-color:black; border-radius: 10px; border:1px solid black; font-size: 15px; color:white;"
                    type="submit" value="바로구매">
            </div>
        </form>
    </center>
</body>

</html>