<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>bpoint</title>
</head>

<body>
    <center>
        <h1>bpoint충전소</h1>
        <form action="/bpoint" method="post"></form>
        <input type="text" id="ubpoint" name="ubpoint">
        <td><input style="width: 100px; height: 30px; background-color:black; border-radius: 10px; border:1px solid black; font-size: 15px; color:white;" type="submit" value="충전"></td>
    </center>
</body>

</html>