<!DOCTYPE html>
<html lang="en">

<head>
    <title>회원가입</title>
    <meta charset="UTF-8">
</head>

<body>
    <h3>회원가입</h3>
    <form action="http://localhost:3000/join" method="post">
        <table>
            <tr>
                <td>아이디 : </td>
                <td><input type="text" id="uid" name="uid"></td>
            </tr>
            <tr>
                <td>비밀번호 : </td>
                <td><input type="password" id="upw" name="upw"></td>
            </tr>
            <tr>
                <td>이름 : </td>
                <td><input type="text" id="uname" name="uname"></td>
            </tr>
            <tr>
                <td>주소 : </td>
                <td><input type="text" id="uaddress" name="uaddress"></td>
            </tr>
            <tr>
                <td>
                    <select id="master" name="master" size="1" style="width: 150px; height: 34px; margin-left: 47px;">
                        <option>선택</option>
                        <option value="1">관리자</option>
                        <option value="0">사용자</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="생성"></td>
            </tr>
        </table>
    </form>
</body>

</html>