<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>리뷰 등록</title>
</head>

<body>
    <center>
        <h3>리뷰등록 등록</h3>
        <form action="/registReview/<%=data%>" method="post">
            <table>
                <td><h3>상품설명</h3></td>
                <td align=left>
                    <textarea id="comment" name="comment" cols=65 rows=15></textarea>
                </td>
                <tr>
                    <td><input style="width: 100px; height: 30px; background-color:black; border-radius: 10px; border:1px solid black; font-size: 15px; color:white;" type="submit" value="생성"></td>
                </tr>
            </table>
        </form>
    </center>
</body>

</html>