<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>환불</title>
</head>

<body>
    <center>
        <h1>환불사유</h1>
        <%for(var i=0;i<data.length; i++) { %>
        <form action="/review/<%= data[i].pid %>" method="POST" style="width: 100%; height: 1000px;">
            <p><%=data[i].comment%></p>
            <%}%>

    </form>
</center>
</body>

</html>